html,
body {
    width: 100%;
    height: 100%;
}
body{
    overflow-x: hidden;
}
img{
    width: 100%;
}
.head{
    background-color: #00A2E3;
    height:56em;
    z-index: 99;
}


/*section1*/
.triangledown{
    width: 0;
    height: 0;
    border-top: 15em solid #372f2c;
    border-left: 15em solid transparent;
    border-right: 15em solid transparent;
    z-index: 60;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.triangledownbordure{
    width: 0;
    height: 0;
    border-top: 20em solid white;
    border-left: 20em solid transparent;
    border-right: 20em solid transparent;
    z-index: 34;
    position: relative;
    top:-19em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.section1divgauche{
    width: 15% !important;
    z-index: 34;
    position: relative;
    top: -30em;
    left: 10%;
    float: left;
    border-bottom: white solid 5px;
}
.section1divdroite{
    width: 15% !important;
    z-index: 34;
    position: relative;
    top: -30em;
    right: 10%;
    float: right;
    border-bottom: white solid 5px;
}
h1{
    position: relative;
    z-index: 34;
    color: white;
    text-align: center;
    font-size: 70px;
    top:-4em;
}
h2{
    position: relative;
    z-index: 34;
    color: white;
    text-align: center;
    font-size: 50px;
    top:-4em;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.section1penche{
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 34;
    position: relative;
    min-height: 6em;
    width: 20%;
    border-top: 2em solid white;
    border-right: 60em solid transparent;
    top:-19em;
}
/*section2*/
#section2 h3{
    position: relative;
    z-index: 35;
    color: white;
    font-size: 40px;
    top:-10em;
    left: 10%;
}
.blocsection2{
    background-color: #f2d4ba;
    position: relative;
    z-index: 35;
    width: 70%;
}
.blocsection2 p{
    width: 50%;
    color:white;
    font-size: 20px;
}
.carresection2{
    background-color: #554641;
    position: relative;
    z-index: 36;
    min-height: 10em;
    min-height: 13em;
    width: 30%;
    left: 50%;
    top: -8em;
}
#totalsection2{
    top: -28em;
    position: relative;
    left: 10%;
}
/*Section 3*/
.section3video{
    position: relative;
    z-index: 25;
    min-width: 100% !important;
    min-height: 50em !important;
    min-width: 100% !important;
    top: -23em;
}
/*Section4*/
.bloc1section4{
    border: 5px solid black;
    width: 10%;
    top: -15em;
    position: relative;
    z-index: 35;
    float: right;
    font-size: 30px;
}
.bloc2section4{
    border: 5px solid black;
    width: 10%;
    font-size: 30px;
}
#section4 h3{
    position: relative;
    z-index: 35;
    color: black;
    font-size: 40px;
    top:-12em;
    right: 10%;
    float: right;
}


































/*Section et Div*/
#section1{
    z-index: 32;
    background-color: #3e3947;
    background: url("../img/backg.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 60em;
}
#section2{
    z-index: 4;
    background-color: #c79b74;
    min-height: 50em;
}
#section3{
    z-index: 1;
    background-color: #745360;;
    min-height: 30em;
}
#section4{
    z-index: 4;
    background-color: #745360;
    min-height: 50em;
}
#section5{
    z-index: 1;
    background-color: #3e3947;
    min-height: 50em;
}
#section6{
    z-index: 1;
    background-color: #745360;
    min-height: 50em;
}
#section7{
    z-index: 1;
    background-color: #3e3947;
    min-height: 50em;
}

#div2{
    z-index: 30;
    position: relative;
    background-color: #c79b74;
    transform:rotate(-3deg);
    -ms-transform:rotate(-3deg); /* Internet Explorer */
    -moz-transform:rotate(-3deg); /* Firefox */
    -webkit-transform:rotate(-3deg); /* Safari et Chrome */
    -o-transform:rotate(-3deg); /* Opera */
    min-height: 30em;
    top:-7em;
    min-width: 101%;
}
#div3{
    z-index: 0;
    background-size: cover;
    position: relative;
    background-color:#c79b74;
    transform:rotate(3deg);
    -ms-transform:rotate(3deg); /* Internet Explorer */
    -moz-transform:rotate(3deg); /* Firefox */
    -webkit-transform:rotate(3deg); /* Safari et Chrome */
    -o-transform:rotate(3deg); /* Opera */
    min-height: 30em;
    top:-18em;
    min-width: 101%;
}
#div4{
    z-index: 30;
    position: relative;
    background-color: #745360;
    transform:rotate(-3deg);
    -ms-transform:rotate(-3deg); /* Internet Explorer */
    -moz-transform:rotate(-3deg); /* Firefox */
    -webkit-transform:rotate(-3deg); /* Safari et Chrome */
    -o-transform:rotate(-3deg); /* Opera */
    min-height: 30em;
    top:-25em;
    min-width: 101%;
}
#div5{
    z-index: 30;
    position: relative;
    background-color: #3e3947;
    transform:rotate(3deg);
    -ms-transform:rotate(3deg); /* Internet Explorer */
    -moz-transform:rotate(3deg); /* Firefox */
    -webkit-transform:rotate(3deg); /* Safari et Chrome */
    -o-transform:rotate(3deg); /* Opera */
    min-height: 30em;
    top:-7em;
    min-width: 101%;
    right: 1%;
}
#div6{
    z-index: 30;
    position: relative;
    background-color: #745360;
    transform:rotate(-3deg);
    -ms-transform:rotate(-3deg); /* Internet Explorer */
    -moz-transform:rotate(-3deg); /* Firefox */
    -webkit-transform:rotate(-3deg); /* Safari et Chrome */
    -o-transform:rotate(-3deg); /* Opera */
    min-height: 30em;
    top:-7em;
    min-width: 101%;
}
#div7{
    z-index: 30;
    position: relative;
    background-color: #3e3947;
    transform:rotate(3deg);
    -ms-transform:rotate(3deg); /* Internet Explorer */
    -moz-transform:rotate(3deg); /* Firefox */
    -webkit-transform:rotate(3deg); /* Safari et Chrome */
    -o-transform:rotate(3deg); /* Opera */
    min-height: 30em;
    top:-7em;
    min-width: 101%;
    right: 1%;
}