html,
body {
    width: 100%;
    height: 100%;
}
body{
    overflow-x: hidden;
}

.head{
    background-color: #00A2E3;
    height:56em;
}

.no-touch #cd-vertical-nav .cd-dot {
    height:30px!important;
    width: 30px!important;
    background-color: none !important;
}

/*
.back{
    background-image: url("../img/backg.jpg");
    background-position: center;
    background-size: cover;
}
*/
.triangledown{
    width: 0;
    height: 0;
    border-top: 30em solid #ddc503;
    border-left: 30em solid transparent;
    border-right: 30em solid transparent;
    z-index: 60;
    position: relative;
    top:-2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.triangledownbordure{
    width: 0;
    height: 0;
    border-top: 40em solid greenyellow;
    border-left: 40em solid transparent;
    border-right: 40em solid transparent;
    z-index: 59;
    position: relative;
    top:-40em;
    display: block;
    margin-left: auto;
    margin-right: auto;}
.triangledowntext{
    z-index:61 !important;
    position: relative !important;
    text-align: center !important;
    font-size: 50px !important;
    top:-19em !important;
    font-weight: bold !important;
    color:white !important;
}
.triangledownsstext{
    z-index:61 !important;
    position: relative !important;
    text-align: center !important;
    font-size: 50px !important;
    top:-19em !important;
    font-weight: bold !important;
    color:white !important;
}
.div1textegauche p{
    color: white !important;
    font-weight: bold !important;
    font-size: 25px !important;
    width: 40% !important;
    padding-top: 1em !important;
    border-bottom: 2px solid white !important;
}
.div1textedroite p{
    color: white !important;
    font-weight: bold !important;
    font-size: 25px !important;
    width: 40% !important;
    padding-top: 1em !important;
    border-bottom: 2px solid white !important;
}
#section1{
    z-index: 1;
    background-color: #3e3947;
    min-height: 90em;
}
#section2{
    z-index: 1;
    background-color: #745360;
    min-height: 70em;
}
#section3{
    z-index: 1;
    background-color: #3e3947;
    min-height: 70em;
}
#section4{
    z-index: 1;
    background-color: #745360;
    min-height: 70em;
}
#section5{
    z-index: 1;
    background-color: #3e3947;
    min-height: 70em;
}
#section6{
    z-index: 1;
    background-color: #745360;
    min-height: 70em;
}
#section7{
    z-index: 1;
    background-color: #3e3947;
    min-height: 70em;
}

#div2{
    z-index: 30;
    position: relative;
    background-color: #745360;
    transform:rotate(-3deg);
    -ms-transform:rotate(-3deg); /* Internet Explorer */
    -moz-transform:rotate(-3deg); /* Firefox */
    -webkit-transform:rotate(-3deg); /* Safari et Chrome */
    -o-transform:rotate(-3deg); /* Opera */
    min-height: 30em;
    top:-7em;
    min-width: 101%;
}
#div3{
    z-index: 30;
    position: relative;
    background-color: #3e3947;
    transform:rotate(3deg);
    -ms-transform:rotate(3deg); /* Internet Explorer */
    -moz-transform:rotate(3deg); /* Firefox */
    -webkit-transform:rotate(3deg); /* Safari et Chrome */
    -o-transform:rotate(3deg); /* Opera */
    min-height: 30em;
    top:-7em;
    min-width: 101%;
    right: 1%;
}
#div4{
    z-index: 30;
    position: relative;
    background-color: #745360;
    transform:rotate(-3deg);
    -ms-transform:rotate(-3deg); /* Internet Explorer */
    -moz-transform:rotate(-3deg); /* Firefox */
    -webkit-transform:rotate(-3deg); /* Safari et Chrome */
    -o-transform:rotate(-3deg); /* Opera */
    min-height: 30em;
    top:-7em;
    min-width: 101%;
}
#div5{
    z-index: 30;
    position: relative;
    background-color: #3e3947;
    transform:rotate(3deg);
    -ms-transform:rotate(3deg); /* Internet Explorer */
    -moz-transform:rotate(3deg); /* Firefox */
    -webkit-transform:rotate(3deg); /* Safari et Chrome */
    -o-transform:rotate(3deg); /* Opera */
    min-height: 30em;
    top:-7em;
    min-width: 101%;
    right: 1%;
}
#div6{
    z-index: 30;
    position: relative;
    background-color: #745360;
    transform:rotate(-3deg);
    -ms-transform:rotate(-3deg); /* Internet Explorer */
    -moz-transform:rotate(-3deg); /* Firefox */
    -webkit-transform:rotate(-3deg); /* Safari et Chrome */
    -o-transform:rotate(-3deg); /* Opera */
    min-height: 30em;
    top:-7em;
    min-width: 101%;
}
#div7{
    z-index: 30;
    position: relative;
    background-color: #3e3947;
    transform:rotate(3deg);
    -ms-transform:rotate(3deg); /* Internet Explorer */
    -moz-transform:rotate(3deg); /* Firefox */
    -webkit-transform:rotate(3deg); /* Safari et Chrome */
    -o-transform:rotate(3deg); /* Opera */
    min-height: 30em;
    top:-7em;
    min-width: 101%;
    right: 1%;
}